In [2]:
import pandas as pd

In [26]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
pd.Series([4,8,15,16,23,42], index = [0,1,2,3,4,5])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [23]:
pd.Series(["python","java","statics","numpy","machinlearnig","pandas","nlp","visualization","sql","webscrapping"],index = ["a","b","c","d","e","f","g","h","i","j"])

a           python
b             java
c          statics
d            numpy
e    machinlearnig
f           pandas
g              nlp
h    visualization
i              sql
j     webscrapping
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

Name =["Alice","Bob","Claire"],Age = [25,30,27],Gender =["male","female","female"]

In [28]:
data = {"Name":["Alice","Bob","Claire"],
        "Age":[25,30,27],
        "Gender":["Female","Male","Female"]       
       }

In [29]:
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. In Pandas , a DataFrame is a two dimentional labeled data structure similar to a table or spreadsheet .it consists of rows and columns ,where each column can be a different data type .We can think of it like an excel spreadsheet or a SQL table.

On the other hand , a Pandas Series is a one dimentional labeled array capable of holding any data type.It's like a single column in a dataframe .Let's illustrate this with an example:

In [32]:
data = {"Name" :["Delhi","Maharastar","Karnataka"],
       "Capital":["New Delhi","Mumbai","Bengaluru"],
       "GDP rank":["6th","1st","3rd"]}

In [35]:
df = pd.DataFrame(data,index =['A','B','C'])

In [36]:
df

         Name    Capital GDP rank
A       Delhi  New Delhi      6th
B  Maharastar     Mumbai      1st
C   Karnataka  Bengaluru      3rd

Now let's extract the series from the DataFrame

In [37]:
Capital = df["Capital"]

In [39]:
Capital

A    New Delhi
B       Mumbai
C    Bengaluru
Name: Capital, dtype: object

In this example ,'df' is a Dataframe with columns 'Name','Capital'and 'GDP rank' .The 'Capital' column contains a series of capitals.

So ,in summary ,a DataFrame is a 2D structure containing multiple series ,each of which is a 1D structure .This allows we to work with tabular data efficiently ,perform operations om entire columns and manipulate data in a variety of ways.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans. There are several common functions in Pandas that we can use to manipulate data in DataFrame.Some of them is included here.

(a)."head()" and "tail()": These functions allow we to view the first or last few rows of DataFrame,respectively .They are useful for quickly inspecting our data.

to view the first 5 rows
df.head()

(b)."info()":This provides a concise summry of DataFrame ,including the data types of and non-null values in each column .It's helpful for data exploration.

In [ ]:
df.info()

(c)."describe()":This gives basic statistical summary of the data like mean ,standard deviation ,minimum etc.for numerical column. eg:

In [ ]:
df.describe()

(d).'loc[]'and 'iloc[]':These are used for label-based and integer-location based indexing ,respectively .They allow us to select specific rows and coloumn in a DataFrame.

In [ ]:
df.loc[:2, 'Name']

(e).'merge()':This function is used to combine two DataFrame based on a common column.

In [ ]:
merged_df = pd.merge(df1, df2,on = 'ID')

These are just a few examples .There are many more functions are available in Pandas for various data amnipualation tasks.The choice of which of which function to use depends on the specific tasks we are trying to accomplish.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans. In Pandas ,among Series ,Dataframe and Panel, only DataFrame is mutable in nature .This mean we can modify the contents of DataFrame after it has been created.

Series and Panel objects, on the other hand are immutable .Once they are created ,we can not change their values .If we need to update the data in a Series or Panel ,we would need to create a new object with the update values .

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [18]:
Courses = pd.Series(["Datasience","DataAnalytics","Full Stack data Engineering","Web Development","Decode DSA"])

In [5]:
Courses

0                     Datasience
1                  DataAnalytics
2    Full Stack data Engineering
3                Web Development
4                     Decode DSA
dtype: object

In [19]:
Topics= pd.Series(["Python","Statistics","Big Data","NodeJS","Basic Algorithms"])

In [7]:
Topics

0              Python
1          Statistics
2            Big Data
3              NodeJS
4    Basic Algorithms
dtype: object

In [23]:
No_of_Students = pd.Series([24000,52000,34000,25000,23000])

In [24]:
df = pd.DataFrame({"Column1":Courses,"Column2":Topics,"Column3":No_of_Students})

In [25]:
df

                       Column1           Column2  Column3
0                   Datasience            Python    24000
1                DataAnalytics        Statistics    52000
2  Full Stack data Engineering          Big Data    34000
3              Web Development            NodeJS    25000
4                   Decode DSA  Basic Algorithms    23000

We can create DataFrame with more series or different type or different type of Data in similar manner by adding more columns to the dictionary inside 'pd.DataFrame'.